@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin "daisyui" {
  themes: valentine --default;
}


@theme {
  /* Her tilføjes theme variable // tokens */
  --font-display: 'Cherry Bomb One', sans-serif;
  /*Infinite scroll animation*/
	--animate-infinite-scroll: infinite-scroll 20s linear infinite;  

	@keyframes infinite-scroll {    
	from { transform: translateX(0);}    
	to { transform: translateX(-100%);}  
	}

}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /*Tobii mods*/
    .tobii-zoom{
      width: 100%;
  }
  .tobii__slide figure > img {
      padding-bottom: 50px;
  }

  /* iframe {
      max-width: 90%;
      margin: auto;
  } */

  .tobii {
      background-color: black;
  }
}

@layer components{

}
@layer utilities{
  
}
body{
  min-height: 100vh;
  }
  .cursor {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 111;
    border: 2px solid #C5005A;
    transition: all 0.2s ease-out;
    animation: moveCursor1 .5s infinite alternate;
  }
  
  .expand {
    background: transparent;
    animation: moveCursor2 .5s forwards;
    border: 1px solid rgb(255, 0, 25);
  }
  
  @keyframes moveCursor1 {
    from {
        transform: scale(1);
    }
  
    to {
        transform: scale(.8);
    }
  }
  
  @keyframes moveCursor2 {
    0% {
        transform: scale(1);
    }
  
    50% {
        transform: scale(2.5);
    }
  
    100% {
        transform: scale(1);
        opacity: 0;
    }
  }