---
---
<section class="font-display whitespace-nowrap overflow-x-hidden bg-pink-800 text-[#FDF2F7] py-4">
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6 ">
        <span>Valentines</span>
        <span>Love</span>
        <span>Chocolate</span>
        <span>Flowers</span>
        <span>Embrace</span>
        <span>Romance</span>
        <span>Heart</span>
        <span>Passion</span>
        <span>Sweetheart</span>
        <span>Cupid</span>
        <span>Devotion</span>
        <span>Admire</span>
        <span>Bouquet</span>
        <span>Cherish</span>
    </div>
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6 " aria-hidden="true">
        <span>Valentines</span>
        <span>Love</span>
        <span>Chocolate</span>
        <span>Flowers</span>
        <span>Embrace</span>
        <span>Romance</span>
        <span>Heart</span>
        <span>Passion</span>
        <span>Sweetheart</span>
        <span>Cupid</span>
        <span>Devotion</span>
        <span>Admire</span>
        <span>Bouquet</span>
        <span>Cherish</span>
    </div>
</section>